{% extends 'base.html' %}
{% block title %}Block Explorer - Semux{% endblock %}
{% block header %}
  <h1>Flask App</h1>
{% endblock %}

{% block content %}
<h1>Latest Blocks</h1>
<table class="table">
  <thead>
    <tr>
      <th>Blocks</th>
      <th>Validator</th>
      <th>txs</th>
      <th>Hash</th>
      <th>Fee</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for block in latestBlocks %}
    <tr>
      <td><a href="/explorer/block/{{ block['number'] }}">{{ block['number'] }}</a></td>
      <td><a href="/explorer/address/{{ block['coinbase'] }}">{{ block['validatorName'] }}</a></td>
      <td>{{ block['transactionCount'] }}</td>
      <td><a href="/explorer/block/{{ block['hash'] }}">{{ block['hash'] }}</a></td>
      <td>{{ block["totalFees"] }}</td>
      <td>{{ block['timestamp'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
